<%= form_for(@meter) do |f| %>
  <% if @meter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meter.errors.count, "error") %> prohibited this meter from being saved:</h2>

      <ul>
      <% @meter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.number_field :status_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :serialno %><br>
    <%= f.text_field :serialno %>
  </div>
  <div class="field">
    <%= f.label :vtfactor %><br>
    <%= f.text_field :vtfactor %>
  </div>
  <div class="field">
    <%= f.label :ctfactor %><br>
    <%= f.text_field :ctfactor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
