<h1>Listing meters</h1>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Status</th>
      <th>Location</th>
      <th>Serialno</th>
      <th>Vtfactor</th>
      <th>Ctfactor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meters.each do |meter| %>
      <tr>
        <td><%= meter.meter_status.name.upcase %></td>
        <td><%= meter.location.name %></td>
        <td><%= meter.serialno %></td>
        <td><%= meter.vtfactor %></td>
        <td><%= meter.ctfactor %></td>
        <td><%= link_to 'Show', meter %></td>
        <td><%= link_to 'Edit', edit_meter_path(meter) %></td>
        <td><%= link_to 'Destroy', meter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meter', new_meter_path %>
